/* ตั้งค่าเริ่มต้นของหน้าเว็บ */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* เอฟเฟกต์พารัลแลกซ์ */
.parallax {
    position: relative;
    height: 100vh; /* เต็มจอ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* ทำให้เกิดเอฟเฟกต์พารัลแลกซ์ */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ภาพพื้นหลัง 1 */
.bg1 {
    background-image: url('536b9541240d3307ef45f59ebb133a9d.jpg'); /* เปลี่ยนเป็นภาพของคุณ */
}

/* ภาพพื้นหลัง 2 */
.bg2 {
    background-image: url('4f1fbc0085cf713670b4f8fb6044c595.jpg'); /* เปลี่ยนเป็น��า��ของคุ�� */
}

/* ข้อความบนภาพ */
.text {
    color: white;
    padding: 20px 40px;
    font-size: 10px;
    border-radius: 10px;
}

/* บล็อกเนื้อหา */
.content {
    background-color: black;
    color: white;
    min-height: 50vh;
    padding: 50px 20px;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}
